.bookAppointment {
  padding: 20px;
}

@media (min-width: 1025px) {
  .bookAppointment {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
  }
}

.ps-alternate__modules {
  display: flex;
  flex-wrap: wrap;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.ps-alternate--grid,
.ps-cta {
  background-color: #fcfbfb;
}

.ps__kicker {
  font-weight: 700;
}

.card {
  width: 40%;
  padding: 20px;
  // background-color: grey;
  margin: 24px;

  h2 {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 600;
  }

  a {
    color: var(--color--primary);
    font-size: 18px;
  }

  svg {
    margin-left: 8px;
    margin-top: 2px;
    max-height: 20px;
    max-width: 20px;
    fill: var(--color--primary);
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 20px 0;
  }
}
