.bookAppointment {
  padding: 20px;
}

@media (min-width: 1025px) {
  .bookAppointment {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
  }
}

.ps-alternate__modules {
  display: flex;
  flex-wrap: wrap;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.ps-alternate--grid {
  background-color: #fcfbfb;
}

.ps__kicker {
  font-weight: 700;
}
